$red: #fd2411;
$green: #81c534;
$yellow: #feef05;
$black: rgb(34, 34, 34);

$font1: "Walter Turncoat", cursive;
$font2: "Permanent Marker", cursive;
$digital:'Orbitron', sans-serif;

//admin color scheme//

$admin-red: #D41A22;
$admin-green: #53A742;
$admin-orange: #EF9109;
$admin-yellow: #E6D82F;
$admin-blue: rgba(21, 43, 67, 0.685);
$light-black: rgb(29, 29, 29);
$background-blue: #29659F;
$white: white;